*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: orange; */
    color: orange;
    text-align: center;
    margin: 2em auto;
    width: 200px;
    height: 300px;
    padding: 2em 0;
    transform-style: preserve-3d; /* Preserve the 3D transformations */
    transition: transform 0.5s;
    border-radius: 10% 2%;
    border: 2px solid #eee;
}


  .card:hover {
    transition: transform 0.3s ease-in-out; 
  }

 


.card-image-container{
    width: 10rem;
    margin: auto;
    
    /* border-radius: 40%; */
}

.card-image-container > img{
    width: 100%;
    border-radius: 35% 2%;
}